[submodule "node_modules/tiddlywiki"]
	path = node_modules/tiddlywiki
	url = git://github.com/BoyCook/TiddlyWiki5.git
[submodule "node_modules/twitter-js-client"]
	path = node_modules/twitter-js-client
	url = git://github.com/BoyCook/TwitterJSClient.git
