body {
    /*font-family: Merriweather, Garamond, Georgia, serif*/
    font-family: "freight-sans-pro",sans-serif
}

.navigation {
	margin-left:auto;
	margin-right:auto;	
}

.navigation ul {
	text-align: center;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

.navigation, .navigation ul {
	list-style: none;	
}

.navigation > li {
    float: left;
    margin: 1px;
}

.hide {
    display:none;
}

.show {
    display:block;
}

.navigation li a {
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    border: 4px solid #f8f8f8;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    z-index: 5;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    font-weight: 600;
    background-color: #fff;
}

.navigation li a:hover { 
    background-color: #FF0000;
}

.navigation li a:focus { 
    background-color: #FF0000;
}

.navigation li a:active {
    background-color: #FF0000;
}

.event-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.event-item p {
    padding: 0px;
}

.event-item:nth-child(odd) {
    border-top: solid 1px #ccc;    
    border-bottom: solid 1px #ccc;    
}

