/* For display ease */
nav, .content {
    margin-bottom: 5px;
    border-bottom: solid 1px #ccc;
}
aside {
    padding-top: 5px;
    padding-left: 10px;
    border-left: solid 1px #ccc;    
}
nav {
    overflow: auto;
    padding-bottom: 15px;
}
/* Page structure */

body {
    padding: 5px;
    width: 960px;
    margin: 20px auto;
}
.content {
    padding-top: 5px;
    width: 600px;
    min-height: 400px;        
    float: left;
}
aside {
    width: 300px;
    min-height: 400px;        
    float: right;
}
footer {
    clear: both;
}

/* MEDIA QUERIES */
/* for 980px or less */
@media screen and (max-width: 980px) {
    body {
        width: 94%;
    }
    .content {
        width: 65%;
        min-height: 400px;        
    }
    aside {
        width: 30%;
        min-height: 400px;        
    }    
}

/* for 700px or less */
@media screen and (max-width: 700px) {
    .content {
        min-height: 200px;        
        width: auto;
        float: none;
    }
    aside {
        min-height: 200px;        
        width: auto;
        float: none;
        padding-left: 0px;
        border-left: none;
    }    
}

/* for 480px or less */
@media screen and (max-width: 480px) {
    .content {
        min-height: 100px;        
    }
    h1 {
        font-size: 24px;
    }
}