/* For display ease */
#header, #content {
    margin-bottom: 5px;
}

#header, #content {
    border-bottom: solid 1px #ccc;
}

#sidebar {
    padding-top: 5px;
    padding-left: 10px;
    border-left: solid 1px #ccc;
}

/* Page structure */

#pagecontent {
    padding: 5px;
    width: 960px;
    margin: 20px auto;
}
#header {
    min-height: 50px;
}
#content {
    padding-top: 5px;
    width: 600px;
    min-height: 400px;        
    float: left;
}
#sidebar {
    width: 300px;
    min-height: 400px;        
    float: right;
}
#footer {
    clear: both;
}

/* MEDIA QUERIES */
/* for 980px or less */
@media screen and (max-width: 980px) {
    #pagecontent {
        width: 94%;
    }
    #content {
        width: 65%;
        min-height: 400px;        
    }
    #sidebar {
        width: 30%;
        min-height: 400px;        
    }    
}

/* for 700px or less */
@media screen and (max-width: 700px) {
    #header {
        height: 80px;
    }
    #content {
        min-height: 200px;        
        width: auto;
        float: none;
    }
    #sidebar {
        min-height: 200px;        
        width: auto;
        float: none;
        padding-left: 0px;
        border-left: solid 0px;        
    }    
}

/* for 480px or less */
@media screen and (max-width: 480px) {
    #header {
        height: 100px;
    }
    #content {
        min-height: 100px;        
    }
    h1 {
        font-size: 24px;
    }
}