/* Page structure */

body {
    padding: 0px;
    margin: 0px;
    width: 960px;
}

nav {
    position: fixed;
    float: left;    
}

nav ul {
    list-style: none;   
}

nav li {
    display: list-item;
}

.content {
    float: right;
}

footer {
    float: left;
    clear: both;
}

/* MEDIA QUERIES */
/* for 980px or less */
@media screen and (max-width: 980px) {
    body {
        width: 94%;
    }
    .content {
        width: 65%;
        min-height: 400px;        
    }
}

/* for 700px or less */
@media screen and (max-width: 700px) {
    nav {
        position: relative;
        float: none;    
        text-align: center;        
    }
    nav li {
        display: inline;
    }       
    .content {
        float: none;
        min-height: 200px;        
        width: auto;
        float: none;
    }
}

/* for 480px or less */
@media screen and (max-width: 480px) {
    .content {
        min-height: 100px;        
    }
    h1 {
        font-size: 24px;
    }
}